.popup-content {
    text-align: center;
    margin-bottom: 20px;
}

.popup-title{
    font-weight: bold;
    font-size: 1.5em;
}

.popup-desc{
    margin-top: 10px;
    font-weight: normal;
    font-size: 1.2em;
}

/*.popup-marker{*/
/*    position: relative;*/
/*}*/

/*.google-link{*/
/*    position:absolute;*/
/*}*/

.popup-likes-container {
    text-align: right;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.popup-like-icon {
    width: 30px;
    height: 30px;
}

.popup-description{
    text-align: justify;
    text-justify: inter-word;
}

@media only screen and (max-width: 600px) {
    .leaflet-popup-content{
        width: 60vw !important;
    }
}

.leaflet-popup-content-wrapper{
    background-color: rgba(251, 251, 255, 0.92);
}

.HStackLikes {
    margin: auto 0px auto auto;
    width: min-content;
    height: 100%;
}

.mapPin {
    width: 100%;
    height: 100%;
}

.markerHolder {
    background-color: rgba(0, 0, 0, 0);
}

.centerMarker {
    z-index: 1000 !important;
}

.editButton {
    margin-left: 0px;
    margin-top: 6px;
    margin-bottom: auto;
    margin-right: auto;
    height: 100%;
    color: white !important;
}